h1 {color: rosybrown;}
h3 {color: rosybrown;}

h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}


body {background-color: floralwhite;}

#i2 {margin-left: 41%;}
#i3 {margin-left: 39%;}
#i4 {margin-left: 41%;}
#i5 {margin-left: 41%;}
#i6 {margin-left: 40%;}

h3 {font-size: 200%;}
h4 {text-align: center;}

